<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Cositede - D</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/public/styles/main.css" />
    <script src="/public/js/jquery-3.3.1.min.js"></script>
    <script src="/public/js/main.js"></script>
</head>

<body>
    <div class="header">
        <svg class="logo-icon" viewBox="0 0 1000.59 57.28">
            <use xlink:href="/public/svg/header.svg#header"></use>
        </svg>
    </div>
    <hr>
    <div class="page">
        <div class="side"></div>
        <div class="main-page">
            <div class="menu-container">
                <div class="menu-item">
                    html
                </div>
                <div class="menu-item">
                    sucking
                </div>
                <div class="menu-item">
                    big
                </div>
                <div class="menu-item">
                    black
                </div>
                <div class="menu-item">
                    old
                </div>
                <div class="menu-item">
                    technology
                </div>
            </div>
            <div class="article-container">
                <hr>
                <h1>ЛУЧШИЕ САБУФЕРЫ В ВАШЕМ ГОРОДЕ</h1>
                <h2>9 из 10 сабвуферов рекомендуют наши великолепные аудиосистемы</h2>
                <hr>
                <div class="action-container">
                    <svg style="fill: #d76443; opacity: 0.5" class="action-icon" viewBox="0 0 346.89 362.98">
                        <use xlink:href="/public/svg/action_icons.svg#buy_icon"></use>
                    </svg>
                    <svg style="fill: #4f59a0; opacity: 0.5" class="action-icon" viewBox="0 0 346.89 362.98">
                        <use xlink:href="/public/svg/action_icons.svg#service_icon"></use>
                    </svg>
                    <svg style="fill: #5ba465; opacity: 0.5" class="action-icon" viewBox="0 0 346.89 362.98">
                        <use xlink:href="/public/svg/action_icons.svg#unexist_icon"></use>
                    </svg>
                    <svg style="fill: #5ba465; opacity: 0.5" class="action-icon" viewBox="0 0 346.89 362.98">
                        <use xlink:href="/public/svg/action_icons.svg#unexist_icon"></use>
                    </svg>
                    <svg style="fill: #5ba465; opacity: 0.5" class="action-icon" viewBox="0 0 346.89 362.98">
                        <use xlink:href="/public/svg/action_icons.svg#unexist_icon"></use>
                    </svg>
                    <svg style="fill: #5ba465; opacity: 0.5" class="action-icon" viewBox="0 0 346.89 362.98">
                        <use xlink:href="/public/svg/action_icons.svg#unexist_icon"></use>
                    </svg>
                    <svg style="fill: #5ba465; opacity: 0.5" class="action-icon" viewBox="0 0 346.89 362.98">
                        <use xlink:href="/public/svg/action_icons.svg#unexist_icon"></use>
                    </svg>

                    <svg style="fill: #5ba465; opacity: 0.5" class="action-icon" viewBox="0 0 346.89 362.98">
                        <use xlink:href="/public/svg/action_icons.svg#unexist_icon"></use>
                    </svg>
                    <svg style="fill: #5ba465; opacity: 0.5" class="action-icon" viewBox="0 0 346.89 362.98">
                        <use xlink:href="/public/svg/action_icons.svg#unexist_icon"></use>
                    </svg>
                    <svg style="fill: #5ba465; opacity: 0.5" class="action-icon" viewBox="0 0 346.89 362.98">
                        <use xlink:href="/public/svg/action_icons.svg#unexist_icon"></use>
                    </svg>
                </div>
            </div>
        </div>
        <div class="side"></div>
        <div class="bottom"></div>
    </div>
</body>

</html>