<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Cositede - D</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="/public/styles/main.css" />
    <script src="/public/js/jquery-3.3.1.min.js"></script>
  </head>

  <body>
    <div class="header">
      <img
        class="logo"
        src="/public/svg/logo.svg"
      />
      <div class="tagline">Сабвуферы. Да, здесь только они</div>
    </div>
    <div id="page">
      <ul class="aboutus">
        <h1>Мы оказываем услуги:</h1>
        <li>Установка аудиосистем</li>
        <li>Продажу запчастей</li>
        <li>И, безусловно, великолепные сабвуферы</li>
      </ul>

      <button class="big-button" onclick="window.location.href='/shop'">
        Заглянуть в магазин
      </button>
    </div>
  </body>
</html>
