/* @import url("http://fonts.googleapis.com/css?family=Roboto&subset=latin, cyrillic"); */
@import url("https://fonts.googleapis.com/css?family=Rubik");
body {
  font-family: Rubik, sans-serif;
  margin: 0px;
}

@media (max-width: 425px) {
  .aboutus li {
    font-size: 1.5em !important;
  }

  h1 {
    /* padding: 0.2em 0em 0.2em 0em; */
    font-size: 2.7em !important;
  }
}

@media (max-width: 1024px) {
  .tagline {
    display: none;
  }
  .logo {
    margin: auto;
  }

  #page .menu-bar {
    flex-direction: column;
    height: auto;
  }
}

.logo {
  height: auto;
  width: 100%;
  max-width: 400px;
  max-height: 150px;
}

.header {
  display: flex;
  height: 150px;
  padding: 2em;
  align-items: center;
}

.header .tagline {
  font-size: 3.3em;
  color: #08caa9;
  margin: auto;
  overflow-x: visible;
  overflow-wrap: break-word;
  padding: 0px 1em 0px 1em;
  /* flex-basis:  */
}

#page {
  display: flex;
  flex-direction: column;
}

#page .menu-bar {
  display: flex;
  background-color: #404040;
  color: #b3b3b3;

  /* height: 80px; */
  width: 100%;

  list-style: none;

  margin: auto;
  padding: 0px;

  font-size: 24pt;
  font-weight: bold;

  overflow: auto;
}

#page .menu-bar li {
  padding: 10px 40px 10px 40px;
  border-bottom: 0.34em transparent solid;
  transition: color 0.4s, border 0.2s;
  cursor: pointer;
}

.bar-selected {
  padding: 10px 40px 10px 40px;
  color: white;
  border-bottom: 0.34em #08caa9 solid !important;
  /* transition: color 0.4s, border 0.2s; */
  cursor: pointer;
}

#page .menu-bar li:hover {
  color: white;
  border-bottom: 0.34em #08caa9 solid;
}

.aboutus {
  background-color: #404040;
  height: 30em;
  margin: 0px;
  padding-bottom: 1em;
  overflow-y: auto;
}

.aboutus li {
  color: white;
  padding-bottom: 0.2em;
  font-weight: normal;
  font-size: 3em;
  margin-left: 2em;
  padding-right: 1em;
}

h1 {
  /* padding: 0.2em 0em 0.2em 0em; */
  color: #08caa9;
  font-weight: normal;
  font-size: 4em;
}

.big-button {
  margin: 2em auto 2em auto;
  background-color: #08caa9;
  border: none;
  border-radius: 1em;
  font-size: 30pt;
  color: white;
  height: 4em;
  box-shadow: 0px 8px 0 #06987f;
}

.big-button:active {
  box-shadow: none;
  margin-top: calc(2em + 8px);
}

*:focus {
  outline: none !important;
}

/* 
@media screen and (max-width: 868px) {
  .main-page {
    display: flex;
    flex: 10;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
  }
}

.page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.bottom {
  height: 70px;
  width: 100%;
  background-color: #615d5e;
}

.menu-container {
  display: flex;
  background-color: #615d5e;
  height: 60px;
  flex: 1;
  align-self: stretch;
  margin-bottom: 30px;
  margin-top: 0px;
  position: sticky;
  top: 0px;
  z-index: 1;
}

.menu-item {
  width: 100%;
  flex-grow: inherit;
  list-style-type: none;
  color: #dddddd;
  text-align: center;
  margin: auto;
  font-size: 1.4em;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

}

.menu-item:hover {
  color: white;
}

.side {
  flex: 1;
  background-color: #dddddd;
}

.main-page {
  display: flex;
  flex: 4;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 30px;
}

.article-container {
  padding: 0px;
  margin: 30px;
  font-size: 1em;
}
.article-container h1 {
  font-weight: bolder;
  color: #615d5e;
  font-size: 2.4em;
}
.article-container h2 {
  font-weight: 100;
  color: #615d5e;
}

hr {
  padding: 0px;
  border: none;
  background-color: #08caa9;
  align-self: center;
  margin: 0px;
  height: 5px;
}

.header-text {
  color: #08caa9;
  font-size: 40pt;
  font-weight: bold;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 1em;
  justify-content: flex-start;
}

.header {
  text-align: center;
}

.logo-icon {
  fill: #08caa9;
  margin: auto;
  align-content: center;
  width: 768px;
  height: 100px;
}

.action-icon {
  margin: 0px;
  width: 300px;
  height: 300px;
  padding: 10px;
}

.action-container {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  margin-top: 30px;
} 
*/
